<div class="header">Welcome!! Have a nice day.</div>
<div class="info">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet commodi, culpa cum debitis delectus dicta dignissimos ea, esse incidunt iusto odio perferendis quaerat quas, rem reprehenderit sint! Accusamus, quis?</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur cumque hic laboriosam nisi quasi quia quo reprehenderit sequi, tenetur! Dignissimos dolores expedita necessitatibus officia officiis omnis, qui sint tempore.</div>

</div>
